force-app/main/default/flows/Energy_Use_Record_from_OCR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Create an energy use record reading Electricity consumption, start date and end date by using OCR</description>
    <interviewLabel>Energy Use Record from OCR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Energy Use Record from OCR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Energy_Use_Record</name>
        <label>Create New Energy Use Record</label>
        <locationX>351</locationX>
        <locationY>211</locationY>
        <assignRecordIdToReference>EnergyUseRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_File_to_Read</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Energy_Use_Record_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125I000000jDvKQAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sustain_app__ElectricityEmissionFactor__c</field>
            <value>
                <elementReference>ElectricityEmissionFactor.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sustain_app__Other_Emission_Factor__c</field>
            <value>
                <elementReference>EmissionConvertorFactor.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>sustain_app__EnergyConsumption__c</object>
    </recordCreates>
    <screens>
        <name>Get_File_to_Read</name>
        <label>Get File to Read</label>
        <locationX>497</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>setValuefromOCR</name>
            <extensionName>c:oCRSustainabilityLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldAPIName</name>
                <value>
                    <stringValue>sustain_app__Value_Electricity_Consumption__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldAPINameED</name>
                <value>
                    <stringValue>sustain_app__EndDate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldAPINameSD</name>
                <value>
                    <stringValue>sustain_app__StartDate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isUpdateRecord</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>EnergyUseRecord.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Initial_Value_from_User</name>
        <label>Get Initial Value from User</label>
        <locationX>173</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Energy_Use_Record</targetReference>
        </connector>
        <fields>
            <name>Energy_Use_Record_Name</name>
            <dataType>String</dataType>
            <fieldText>Energy Use Record Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ElectricityEmissionFactor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>sustain_app__ElectricityEmissionFactor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Electricity Emission Factors</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>sustain_app__EnergyConsumption__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmissionConvertorFactor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>sustain_app__EnergyConsumption__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>sustain_app__Other_Emission_Factor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Emission Convertor Factors</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Initial_Value_from_User</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>endDateFromOCR</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnergyUseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sustain_app__EnergyConsumption__c</objectType>
    </variables>
    <variables>
        <name>kwhOCR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>startDatefromOCR</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
